{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
        // "prettier/@typescript-eslint",
        //  "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "max-len": ["error", { "code": 140, "ignoreUrls": true }],
        "import/prefer-default-export": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "react/no-unescaped-entities": [
            "error",
            {
                "forbid": [
                    { "char": ">", "alternatives": ["&gt;"] },
                    { "char": "}", "alternatives": ["&#125;"] }
                ]
            }
        ]
    }
}
