// colors

$primary: #f4a444ff;
$secondary: #2f4858ff;

$gradient-1: #f49e44ff;
$gradient-2: #f49744ff;
$gradient-3: #f48e44ff;
$gradient-4: #f58a44ff;
$gradient-5: #f58845ff;

$light-gray: #e6e6e6ff;
$gray: #ccccccff;
$dark-gray: #616161ff;
$background-gray: #f1f1f1;


$purple: #ad74f3ff;
$cyan: #00b8d7ff;
$fuksia: #ff55bfff;
$brown: #551d00ff;
$light-green: #549456ff;
$green: #0a7e6cff;
$dark-green: #0b636eff;

$skip-gradient-1: #ffc0b9ff;
$skip-gradient-2: #ff8984ff;
$skip-gradient-3: #c35353ff;

$white: #ffffff;
$black: #000;

$hover-link: #1a73e8;

$link-color-blog: #1a73e8;