.post-card--horizontal {
    height: 300px;
    text-align: start;

    &__image {
        width: 45%;
        flex: 0 0 auto;
    }

    &__details {
        flex: 1 1 auto;
        padding: 0 40px 0 40px;

        &__tags {
            margin: 10px 0 10px 0;

            display: flex;
            justify-content: flex-start;

            &__item {
                padding-right: 20px;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}
