.block {
    margin: 15px;

    &--horizontal {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &--vertical {
        display: flex;
        flex-direction: column;

    }
}
